@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-center mb-3 display-4 textstyle">Use this page to detail privacy policy.</p>
<p class="text-center mb-2">
    We gather personal information if and to the extent it is necessary to provide our services to you, and if we are entitled or obliged to process personal information under applicable law.

    Sample Solutions’s or Sales.Rocks Website: If you contact us about our products and services or request a demo on our website, or request marketing content through third party websites, the forms you complete or the emails you send may include information about you, such as your full name, your email address, the organisation on behalf of whom you are contacting us, a general or personal phone number and your enquiry.

    Sample Solutions’ or Sales.Rocks’ Online Client Platform: In order to provide a Sample Solutions Client with access to our platform and enable them to access our services, we collect the full name, email address, phone number and password of each individual authorised by such client to access the platform.

    Analytics on the Website and the Platform: Our website and online client platform uses cookies and other mechanisms to collect and log analytical information, to help analyse use, to compile statistical reports on use of our website and to improve our website and marketing. To find out more about the use of cookies and adjust your cookie preferences, please see our cookie policy here.

    ·Information you provide to us:
    We process personal information that you actively and knowingly provide to us (e.g. your first name, last name, email address, telephone number) if you submit an RFQ, sign up to our newsletter or through our chat).

    We will inform you each time which information is required so you can choose to use our services or not. If you choose not to provide us with certain information you may not be able to register with us or take advantage of some of the features we provide.

    · Log data
    Whenever you visit our site, we may collect information that your browser sends to us which is called log data. This data may include information such as your IP address, browser version, access times and dates and other related statistics. Additionally, we use log data including your IP address for security purposes such as whitelisting, prevention and recognition of attacks and malware.

    · number of visits to our website;
    · pages visited while at the website and time spent per page;
    · page interaction information, such as scrolling, clicks and browsing methods (using heatmaps);
    · referring websites where visitors have come from and where they go afterwards;
    · page response times and any download errors; and
    · other technical information relating to end user device, ip address or browser or browser plug-in.
    Sample Solutions does not seek to collect any non-business-related data such as date of birth, home address, personal email or telephone number and Sample Solutions does not collect sensitive personal data.

    2. How do we collect information?

    Information submitted or provided by you.
    We collect publicly available information to the extent legally permitted under applicable law. We may append this information to our existing information.
    Our data will be:

    Accurate and kept up-to-date.
    Collected fairly and for lawful purposes only.
    Processed by the company within its legal and moral boundaries.
    Protected against any unauthorized or illegal access by internal or external parties.
    Our data will not be:

    Communicated informally.
    Stored for more than necessary to fulfill the purposes for which it was collected.
    Transferred to organizations, states or countries that do not have adequate data protection policies.
    Distributed to any party other than the ones agreed upon by the data’s owner (exempting
    legitimate requests from law enforcement authorities).
</p>
<style>
p {
        text-align: center;
        color: black;
         font-size: 18px;
}
p.textstyle{
     text-align: center;
        color: black;
      
        font-size: 30px;
        
}
</style>